.animal {
  position: relative;
  transition: transform 0.2s linear;

  &.head-shake {
    svg {
      .head {
        transform-origin: center;
        animation-name: head-shake;
        animation-duration: 20s;
        animation-delay: 0s;
        animation-iteration-count: infinite;
      }
    }
  }
  
  &.breathe {
    svg {
      .body {
        animation-name: breathe;
        animation-duration: 1s;
        animation-delay: 0.25s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
  }
  
  &.eye-blink {
    svg {
      .eyes {
        transform-origin: center;
        animation-name: eye-blink;
        animation-duration: 20s;
        animation-delay: 0s;
        animation-iteration-count: infinite;
      }
    }
  }

  &.joyful {
    @transformDuration: 0.75s;
    @transformIterationCount: 5;
    svg {
      .head {
        transform-origin: center;
        animation-name: joyful-head;
        animation-duration: @transformDuration;
        animation-delay: 0s;
        animation-iteration-count: @transformIterationCount;
      }
      .body {
        transform-origin: center;
        animation-name: joyful-body;
        animation-duration: @transformDuration;
        animation-delay: 0s;
        animation-iteration-count: @transformIterationCount;
      }
      .left-paw {
        transform-origin: center;
        animation-name: joyful-left-paw;
        animation-duration: @transformDuration;
        animation-delay: 0s;
        animation-iteration-count: @transformIterationCount;
      }
      .right-paw {
        transform-origin: center;
        animation-name: joyful-right-paw;
        animation-duration: @transformDuration;
        animation-delay: 0s;
        animation-iteration-count: @transformIterationCount;
      }
    }
  }

  &.tail {
    svg {
      .tail {
        transform-origin: left;
        animation-name: tail;
        animation-duration: 0.5s;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
  }

  &.flipped {
    transform: rotateY(180deg);
  }
}

@keyframes breathe {
  from {transform-origin: bottom; transform: scaleY(1);}
  to {transform-origin: bottom; transform: scaleY(0.94);}
}


@keyframes head-shake {
  0%   {transform: rotate(0deg);}
  70%  {transform: rotate(0deg);}
  75%  {transform: rotate(15deg);}
  85%  {transform: rotate(15deg);}
  90% {transform: rotate(0deg);}
  100% {transform: rotate(0deg);}
}

@keyframes eye-blink {
  0%   {transform: rotateX(80deg);}
  1%   {transform: rotateX(0deg);}
  5%   {transform: rotateX(0deg);}
  6%   {transform: rotateX(80deg);}
  7%   {transform: rotateX(0deg);}
  10%   {transform: rotateX(0deg);}
  11%   {transform: rotateX(80deg);}
  12%   {transform: rotateX(0deg);}
  20%   {transform: rotateX(0deg);}
  21%   {transform: rotateX(80deg);}
  22%   {transform: rotateX(0deg);}
  89%   {transform: rotateX(0deg);}
  90%   {transform: rotateX(80deg);}
  91%   {transform: rotateX(0deg);}
}

@keyframes joyful-body {
  0% {transform: translate(0, 0);}
  30% {transform: translate(0, -30px);}
  60% {transform: translate(0, 0px);}
  100% {transform: translate(0, 0px);}
}

@keyframes joyful-right-paw {
  0% {transform: rotate(0deg);}
  30% {transform: rotate(-20deg) translate(30px, -28px);}
  60% {transform: rotate(0deg);}
  100% {transform: rotate(0);}
}

@keyframes joyful-left-paw {
  0% {transform: rotate(0deg);}
  30% {transform: rotate(20deg) translate(-30px, -28px);}
  60% {transform: rotate(0deg);}
  100% {transform: rotate(0);}
}

@keyframes joyful-head {
  0% {transform: translate(0, 0);}
  30% {transform: translate(0, -40px);}
  60% {transform: translate(0, 0px);}
  100% {transform: translate(0, 0px);}
}

@keyframes tail {
  0% {transform: rotateY(0);}
  100% {transform: rotateY(40deg);}
}