.card-game {
  @card-border: @main-color;
  @card-background: gray;
  @card-padding: 5%;
  @card-border: 10px;

  position: relative;
  
  /*
   * background-color: #eee;
background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), 
linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
background-size:60px 60px;
background-position:0 0, 30px 30px
   */
  
  .card {
    position: relative;
    box-sizing: border-box;
    
    .face {
      box-sizing: border-box;
      padding: @card-padding;
      background: white;
      border: 1px solid @card-border;
      border-radius: @card-border;
    }
    
    .front .face-content {
//      background: @secondary-color;
    }
    .back .face-content{
//      background: @main-color;
      background: 
        radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
        radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
        background-color: @main-color;
        background-size:26px 34px;
    }
    
    .face-content {
      border-radius: @card-border;
      width: 100%;
      height: 100%;
      
      svg {
        max-width: 100%;
        max-height: 100%;
        vertical-align: center;
        overflow: visible;
      }
    }
  }
  
}