
.letter {
  position: relative;
  width: 1em;
  height: 1em;
  
  margin-right: 10px;
  float: left;
  
  .square {
    @square-width: 20%;
    @square-height: 20%;
    width: @square-width;
    height: @square-height;
    box-sizing: border-box;
    padding: 1px;
    position: absolute;
    
    .set-square-position(@x, @y) {
      left: @x * @square-width;
      top: @y * @square-height;
    }
    
    &.s0x0 { .set-square-position(0,0); }
    &.s0x1 { .set-square-position(0,1); }
    &.s0x2 { .set-square-position(0,2); }
    &.s0x3 { .set-square-position(0,3); }
    &.s0x4 { .set-square-position(0,4); }
    &.s1x0 { .set-square-position(1,0); }
    &.s1x1 { .set-square-position(1,1); }
    &.s1x2 { .set-square-position(1,2); }
    &.s1x3 { .set-square-position(1,3); }
    &.s1x4 { .set-square-position(1,4); }
    &.s2x0 { .set-square-position(2,0); }
    &.s2x1 { .set-square-position(2,1); }
    &.s2x2 { .set-square-position(2,2); }
    &.s2x3 { .set-square-position(2,3); }
    &.s2x4 { .set-square-position(2,4); }
    &.s3x0 { .set-square-position(3,0); }
    &.s3x1 { .set-square-position(3,1); }
    &.s3x2 { .set-square-position(3,2); }
    &.s3x3 { .set-square-position(3,3); }
    &.s3x4 { .set-square-position(3,4); }
    &.s4x0 { .set-square-position(4,0); }
    &.s4x1 { .set-square-position(4,1); }
    &.s4x2 { .set-square-position(4,2); }
    &.s4x3 { .set-square-position(4,3); }
    &.s4x4 { .set-square-position(4,4); }
  }
}

.mini-square {
  box-sizing: border-box;
  padding: 1px;
  width: 50%;
  height: 50%;
  position: absolute;
  &.msq1 {
    left: 0;
    top: 0;
  }
  &.msq2 {
    left: 50%;
    top: 0;
  }
  &.msq3 {
    left: 0;
    top: 50%;
  }
  &.msq4 {
    left: 50%;
    top: 50%;
  }
}