.func-generate-memory-css-from-mode(@mode) {

  .memory {
    .func-generate-memory-from-mode(@mode) when (@mode = @landscape) {
      .card-game .card {
        float: left;
        margin: 5vh 5vw;
        width: 23.33vw;
        height: 30vh;
      }
    }

    .func-generate-memory-from-mode(@mode) when (@mode = @portrait) {
      .card-game .card {
        float: left;
        margin: 5vh 5vw;
        width: 40vw;
        height: 20vh;
      }
    }

    .func-generate-memory-from-mode(@mode);
  }
}