.func-generate-shapes-css-from-mode(@mode) {

  .shapes {

    .func-generate-shapes-from-mode(@mode) when (@mode = @landscape) {
      @box-size: 30vmin;

      .shape-generator {
        width: 30vw;
        height: 100%;
        float: left;
        display: table-cell;

        .shape-box {
          top: 30vh;
        }
      }

      .shape-box {
        position: relative;
        width: @box-size;
        height: @box-size;
      }

      .shape-container {
        margin-left: 15vw;
      }
    }

    .func-generate-shapes-from-mode(@mode) when (@mode = @portrait) {
      @box-size: 30vmin;

      .shape-generator {
        width: 100%;
        height: 30vh;

        .shape-box {
          left: 35vw;
          top: 3vh;
        }
      }

      .shape-box {
        position: absolute;
        width: @box-size;
        height: @box-size;
      }

      .shape-container {
        margin-top: 15vh;
      }
    }

    .shape-container {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;

      .shape-box {
        /*width: 40vmin;
        height: 40vmin;*/
        position: absolute;

        &:nth-child(0n+1) {
          left: 55vw;
          bottom: 50vh;
        }

        &:nth-child(0n+2) {
          right: 55vw;
          bottom: 50vh;
        }

        &:nth-child(0n+3) {
          left: 55vw;
          top: 50vh;
        }

        &:nth-child(0n+4) {
          right: 55vw;
          top: 50vh;
        }
      }
    }

    .shape-box {
      /*background: black;*/
      margin: auto;
    }

    .shape {
      width: 90%;
      height: 90%;
      margin: 5%;
      position: absolute;

      path {
        stroke-width: 20px;
      }
    }

    svg {
      width: 100%;
      height: 100%;
    }

    .moving {
      &.shape {
        background: none;
      }
    }
    .shape-generator {
      background: #aaa;
    }

    stop[offset='0'] {
      stop-opacity:1
    }
    stop[offset='1'] {
      stop-opacity:0.2
    }

    .gradient-blue {
      stop[offset='0'] {
        stop-color:#2127f8;
      }
      stop[offset='1'] {
        stop-color:#2127f8;
      }
    }
    .gradient-red {
      stop[offset='0'] {
        stop-color: #f82726;
      }
      stop[offset='1'] {
        stop-color:#f82726;
      }
    }
    .gradient-orange {
      stop[offset='0'] {
        stop-color: #f8c83d;
      }
      stop[offset='1'] {
        stop-color:#f8c83d;
      }
    }
    .gradient-brown {
      stop[offset='0'] {
        stop-color: #6d7429;
      }
      stop[offset='1'] {
        stop-color:#6d7429;
      }
    }
    .gradient-green {
      stop[offset='0'] {
        stop-color: #4acb51;
      }
      stop[offset='1'] {
        stop-color:#4acb51;
      }
    }
    .gradient-pink {
      stop[offset='0'] {
        stop-color: #f83bb3;
      }
      stop[offset='1'] {
        stop-color:#f83bb3;
      }
    }

    .func-generate-shapes-from-mode(@mode);
  }
}
