@import "./styles/letters.less";
@import "./styles/cardGame.less";
@import "./styles/animals.less";
@import "./styles/memory.less";
@import "./styles/shapes.less";

@landscape: landscape;
@portrait: portrait;

html {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

@main-color: #B6BFFF;
@secondary-color: #F0AD4E;

header.header {
  padding: 1vmin;
  font-size: 8vmin;
  height: 10vh;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  
  .front {
    background-color: @secondary-color;
  }
  .back {
    background-color: @main-color;
  }
}

.main-container {
  position: relative;
  height: 90vh;
}

.home .main-container {
  position: relative;

  .background {
    width: 100%;
    height: 100%;
  }
}

.home .main-container {
  .menu {
    font-family: 'Sansita One', cursive;
    position: absolute;
    font-size: 15vmin;
    text-align: center;
    width: 100%;
    color: @secondary-color;
    text-shadow: 0 0 1vmin black;
  }

  #menu1 {
    top: 20vh;
  }

  #menu2 {
    top: 40vh;
  }

  #menu3 {
    top: 60vh;
  }
  /*
  .animal {
    position: absolute;

    svg {
      width: 35%;
      height: 30%;
    }
  }

  #home-cow {
    top: 60%;
    left: 20%;
  }

  #home-sheep {
    top: 70%;
    right: 0%;
  }
  */
}

.aquarium {
  .animal {
    position: absolute;
  }

  .animal svg {
    width: 100%;
    height: 100%;
  }
}

.flip{
  transition: transform 0.50s;
  transform-origin: 50%;
  transform-style: preserve-3d;
}
.flip,
.flip > div {
  width: 100%;
  height: 100%;
}
.flip > div {
  position: absolute;
  backface-visibility: hidden;
}
.front {
  transform: rotateX(180deg) rotateZ(-90deg);
}
.back{}
.active .flip{
  transform: matrix3d( 0, 1, 0, 0,
                       1, 0, 0, 0,
                       0, 0, -1, 0,
                       0, 0, 0, 1);
}

.func-generate-css-from-mode(@mode) {
  .func-generate-memory-css-from-mode(@mode);
  .func-generate-shapes-css-from-mode(@mode);
}

@media screen and (orientation : landscape) {
  @mode: @landscape;

  .func-generate-css-from-mode(@mode);
}

@media screen and (orientation : portrait) {
  @mode: @portrait;

  .func-generate-css-from-mode(@mode);
}


